<%= javascript_pack_tag 'components/display_buttons' %>

<div class="row">
	<div class="col-4">
		<div id="logo-container" class="text-left" style="margin-top: 10px; margin-bottom: 10px;">
			<%= image_tag('logo_tfc.png', height: '110') %>
		</div>
	</div>
	<div class="col-8">
		<h1 style="margin-top: 30px; margin-bottom: 10px;"> Registros</h1>
	</div>
</div>


<div id="react-container">
	
</div>



